* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Courgette", cursive;
}

$primary-color: #55a2ee;
$accept: #0baa53;
$background: #9ed9f7;

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-control($one, $two, $three) {
  display: flex;
  justify-content: $one;
  align-items: $two;
  flex-direction: $three;
}
